@page
@model KetoCalculator.Pages.Admin.UserRole.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspNetRoleClaims[0].ClaimType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetRoleClaims[0].ClaimValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetRoleClaims[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AspNetRoleClaims) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
